.img_soccer{
  background-image: url('../../assets/img/login-soccer.png');
  background-repeat: no-repeat;
  background-position: center;

}

.titulo_fut_manager{
  width: 100%;
  height: 3.5rem;
  background-color: rgba($color: #fff, $alpha: 0.2);
}

.titulo_fut_manager h1 {
  color: #fff;
  text-align: center;
}
